/* orden en CCS */
/* Reset de CCS
Familia tipografia
Tamaño de tipografia
box-model
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", serif;
    box-sizing: border-box
}


body {
    background-color: #E5E6E7;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 0.3fr 1fr 0.1fr 0.01fr;
    grid-template-areas: 
            "cabeza  cabeza  cabeza"
            "cuerpo  cuerpo  cuerpo"
            "cuerpo  cuerpo  cuerpo"
            " pie     pie     pie"    
    ;
}

.cabeza {
    grid-area: cabeza;
}

.cabeza .menu {
    position: sticky;
    top: 0.1em;
}

.cabeza .menu {
    display: flex;
    justify-content: space-around; 
    height: 2.5rem;
    align-items: center;
    background-color: #BB6A24;
}

.cabeza .menu .navegacion ul {
    display: flex;
    list-style: none;
    flex-basis: auto;
}
.cabeza .menu .navegacion li{
    padding: 1.5em;
}
.cabeza .menu .navegacion li a {
    color: #f5f5dc;
    text-decoration:overline;
}
.cabeza .menu .logo {
    height: 2.5em;
}
.cabeza .menu .navegacion ul a {
    color: #f5f5dc;
    text-decoration:overline;
}

.cabeza .titulo {
    display: flex;
    flex-direction: column;
    background-color: #f8e1ce;
    text-align: center;
    background-image: url(../assets/foto1.jpg);
    background-position: center;
    background-size: cover;
    height: 30em;
}

.cabeza .titulo-info {
    display: flex;
    flex-direction: column;
    background-color: #f8e1ce;
    text-align: center;
    background-image: url(../assets/foto7.jpg);
    background-position: center;
    background-size: cover;
    height: 30em;
}
.cabeza .titulo-blog {
    display: flex;
    flex-direction: column;
    background-color: #f8e1ce;
    text-align: center;
    background-image: url(../assets/foto5.jpg);
    background-position: center;
    background-size: cover;
    height: 30em;
}
.cabeza .titulo-contacto {
    display: flex;
    flex-direction: column;
    background-color: #f8e1ce;
    text-align: center;
    background-image: url(../assets/foto6.jpg);
    background-position: center;
    background-size: cover;
    height: 30em;
}

.cabeza .titulo h1 {
    color: #483d8b;
    font-size: 2.3em
}

.cabeza .titulo h3 {
    color: #2A2A24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1em;
    font-size: 1.2em; 
}
/* .cabeza .titulo-info h3 {
    color: #2A2A24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1em;
    font-size: 1.2em; 
}
.cabeza .titulo-blog h3 {
    color: #2A2A24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 1em;
    font-size: 1.2em; 
} */

.cuerpo {
    display: flex;
    flex-direction: column;
    grid-area: cuerpo;
}

.cuerpo .subtitulos {
    color: #2A2A24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 2.2em;
    font-size: 1.5em;
}

.cuerpo .articulos-lectura {   
    background-color: #DDA15E;
    padding-top: 2em;
    padding-bottom: 2em;
}

.cuerpo .articulos-lectura {
    display:inline-flex;
    flex-direction: row;

    align-items: center;
}


.cuerpo .articulos-lectura .articulo-info {
    background-color: #f8e1ce;
    border-radius: 0.5em;
}
.cuerpo .articulos-lectura .parrafo-info {
    width: 100%;
    align-items: center;
    padding: 2em;
    margin: 2em;
    font-size: 1.2em;
}

.cuerpo .carousel {
    background-color: #f8e1ce;
    background-position: center;
    border-radius: 0.5em;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.cuerpo .articulos-videos {   
    background-color: #DDA15E;
    padding-top: 2em;
    padding-bottom: 2em;
}

.cuerpo .articulos-lectura-blog {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #DDA15E;
    align-items: center;

    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.cuerpo .articulos-lectura-blog .card{
    margin-left: 1em;
    margin-right: 1em;
}

.cuerpo .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;
    align-items: flex-start;

    background-color: #DDA15E;

    padding-top: 2em;
    padding-bottom: 2em;
}

.cuerpo .formulario .comun {
    width: 28%;
}
.cuerpo .formulario .email {
    width: 28%;
}
.cuerpo .formulario .largo {
    width: 95%;
}

.pie {
    grid-area: pie;
}

.menu-pie {
    display: flex;
    justify-content: space-around; 
    height: 2.5rem;
    align-items: center;
    background-color: #BB6A24;
}

.menu-pie .redes {
    display: flex;
    justify-content: space-around;
    list-style: none;  
}

.menu-pie .redes li {
    padding: 1.0em;
}

.menu-pie .redes li a {
    text-decoration: none;
    color: #f5f5dc;
}

.menu-pie a {
    text-decoration: none;
    color: #f5f5dc;
}

.menu-pie .logo{
    height: 2.5em ;
}

.menu-pie .link {
    display: flex;
    justify-content: space-around;
    list-style: none;  
}

.menu-pie .link li {
    padding: 1.0em;
}

.menu-pie .link li a {
    text-decoration: none;
    color: #f5f5dc;
}

.registro {
    background-color: #BB6A24;
}


/* desktop a mobile */
/* tablet 768px */
/* Mobile 480px*/

@media (max-width: 768px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.2fr 1fr 0.5fr 0.04fr;
        grid-template-areas: 
        "cabeza cabeza  "
        "cuerpo cuerpo "
        "cuerpo cuerpo "
        " pie    pie   "   
        ;
    }
    .cuerpo .articulos-lectura {
        display: inline-block;
        background-color: #7a5edd;
        padding-left: 2em;
        padding-right: 2em;
    }
    .cabeza .titulo h3 {
        padding: 0.8em;
        font-size: 1em; 
    }
    .cabeza .titulo-info h3 {
        padding: 0.8em;
        font-size: 1em;  
    }
    .cabeza .titulo-blog h3 {
        padding: 0.8em;
        font-size: 1em;  
    }
    .cuerpo .articulos-lectura .articulo {
        width: 80%;
    }
    .cuerpo .articulos-videos .articulo {
        width: 80%;
    }

    .cuerpo .formulario .comun {
        width: 40%;
    }
    .cuerpo .formulario .email {
        width: 95%;
    }
    .cuerpo .formulario .largo {
        width: 95%;
    }
    
    .menu-pie { 
        height: 1.6rem;
    }
    .menu-pie .redes li {
        padding: 0.5em;
    }
    .menu-pie .logo{
        height: 1.5em ;
    }
    .menu-pie .link li {
        padding: 0.5em;
    }
}
@media (max-width: 480px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 0.02fr;
        grid-template-areas: 
        "cabeza "
        "cuerpo "
        "cuerpo "
        " pie   "   
        ;
    }
    .cuerpo .articulos-lectura {
        display: inline-block;
        background-color: #5a2efc;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .cabeza .titulo h3 {
        padding: 0.5em;
        font-size: 1em; 
    }
    .cabeza .titulo-info h3 {
        padding: 0.5em;
        font-size: 0.6em;  
    }
    .cabeza .titulo-blog h3 {
        padding: 0.8em;
        font-size: 0.6em;  
    }

    .cuerpo .articulos-lectura .articulo {
        width: 65%;
    }
    .cuerpo .articulos-videos .articulo {
        width: 65%;
    }
    .cuerpo .formulario {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around ;
        align-items: flex-start;
    
        background-color: #DDA15E;
    
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
    .cuerpo .formulario .comun {
        width: 95%;
    }
    .cuerpo .formulario .email {
        width: 95%;
    }
    .cuerpo .formulario .largo {
        width: 95%;
    }

    .menu-pie { 
        height: 1.5rem;
    }
    .menu-pie .redes li {
        padding: 0.5em;
    }
    .menu-pie .logo{
        height: 1.5em ;
    }
    .menu-pie .link li {
        padding: 0.5em;
    }
}