// colores

$base: #E5E6E7;
$orange-menu:  #BB6A24;
$orange-cuerpo: #DDA15E;
$white-menu: #f5f5dc;
$white-titulo: #f8e1ce;
$violet-title: #483d8b;
$black-subti: #2A2A24;
$violet-768: #7a5edd;
$violet-480: #5a2efc;

