// pie 

.pie {
    grid-area: pie;
    .registro {
        background-color: $orange-menu;
    }
    .menu-pie {
        display: flex;
        justify-content: space-around; 
        height: 2.5em;
        align-items: center;
        background-color: $orange-menu;
        .link {
            display: flex;
            justify-content: space-around;
            list-style: none;
            li {
                padding: 1.0em;
                a {
                    text-decoration: none;
                    color: $white-menu;
                }
            }
        }
        .logo{
            height: 2.5em ;
        }
        .redes {
            display: flex;
            justify-content: space-around;
            list-style: none;
            a {
                text-decoration: none;
                color: $white-menu;
            }
            li {
                padding: 1.0em;
                a {
                    text-decoration: none;
                    color: $white-menu;
                }
            }
        }
    }
}
